<div style="border:solid black 2px; padding: 20px">
<b>–ö–∏—Ä–∏–ª–ª, –ø—Ä–∏–≤–µ—Ç!</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ü–æ–ª–∏–Ω–∞ –ë–µ—Ä–µ–∂–Ω–∞—è, –∏ —è –±—É–¥—É –¥–µ–ª–∞—Ç—å —Ä–µ–≤—å—é —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. –î–∞–≤–∞–π –±—É–¥–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ ¬´—Ç—ã¬ª. –ù–æ –µ—Å–ª–∏ —Ç–µ–±–µ –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ –Ω–∞ ¬´–≤—ã¬ª, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Å–æ–æ–±—â–∏ –º–Ω–µ –æ–± —ç—Ç–æ–º. 

–ú–Ω–µ –±—ã–ª–æ –æ—á–µ–Ω—å –ø—Ä–∏—è—Ç–Ω–æ –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç, —Ç–∞–∫ –∫–∞–∫ —á—É–≤—Å—Ç–≤—É–µ—Ç—Å—è —Ç–≤–æ–µ —Å—Ç–∞—Ä–∞–Ω–∏–µ –∏ –∂–µ–ª–∞–Ω–∏–µ —Å–¥–µ–ª–∞—Ç—å –∑–∞–¥–∞–Ω–∏–µ –Ω–∞ –¥–æ—Å—Ç–æ–π–Ω–æ–º —É—Ä–æ–≤–Ω–µ. –û–¥–Ω–∞–∫–æ –µ—Å—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –∞—Å–ø–µ–∫—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ —Ç—Ä–µ–±—É—é—Ç —Ç–≤–æ–µ–≥–æ –≤–Ω–∏–º–∞–Ω–∏—è –∏ –¥–æ—Ä–∞–±–æ—Ç–∫–∏. 
    
–í —Ç–µ—Ç—Ä–∞–¥–∫–µ —Ç—ã –º–æ–∂–µ—à—å –≤—Å—Ç—Ä–µ—Ç–∏—Ç—å 3 –≤–∏–¥–∞ –º–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤:
- <div class="alert alert-danger">
  
    **‚ùå –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**
    
    –¢–∞–∫–æ–π –Ω—é–∞–Ω—Å —Ç—Ä–µ–±—É–µ—Ç –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ–π –¥–æ—Ä–∞–±–æ—Ç–∫–∏, –∏–Ω–∞—á–µ –ø—Ä–æ–µ–∫—Ç –Ω–µ –±—É–¥–µ—Ç –ø—Ä–∏–Ω—è—Ç.
  </div>
    
    
- <div class="alert alert-warning">
  
    **‚ö†Ô∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**
    
    –¢–∞–∫ –≤—ã–¥–µ–ª–µ–Ω—ã –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã–µ –∫ –¥–æ—Ä–∞–±–æ—Ç–∫–µ –º–æ–º–µ–Ω—Ç—ã. M–æ–∂–µ—à—å —É—á–µ—Å—Ç—å –∏—Ö –ø—Ä–∏ —Ä–µ–¥–∞–∫—Ç–∏—Ä–æ–≤–∞–Ω–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞ –∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –±—É–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π. –ù–∞ —Ç–≤–æ–µ —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µ. 
  </div>
    
    
- <div class="alert alert-success">
  
    **‚úîÔ∏è –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**
    
    –¢–∞–∫ –æ—Ç–º–µ—á–µ–Ω—ã —É–¥–∞—á–Ω—ã–µ —Ä–µ—à–µ–Ω–∏—è –∏ –ø–æ–¥—Ö–æ–¥—ã, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ —Å—Ç–æ–∏—Ç –æ–ø–∏—Ä–∞—Ç—å—Å—è –≤ –±—É–¥—É—â–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö.
  </div>
    

    

–ü—Ä–µ–¥–ª–∞–≥–∞—é —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ —Ñ–æ—Ä–º–µ –¥–∏–∞–ª–æ–≥–∞: –µ—Å–ª–∏ —Ç—ã **—á—Ç–æ-—Ç–æ –º–µ–Ω—è–µ—à—å** –≤ —Ä–∞–±–æ—Ç–µ –ø–æ –º–æ–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º ‚Äî **–ø–∏—à–∏ –æ–± —ç—Ç–æ–º** –∏ –ø–æ–º–µ—á–∞–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –∫–∞–∫–∏–º-—Ç–æ –∑–∞–º–µ—Ç–Ω—ã–º —Ü–≤–µ—Ç–æ–º. –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, **–Ω–µ –ø–µ—Ä–µ–º–µ—â–∞–π, –Ω–µ –∏–∑–º–µ–Ω—è–π –∏ –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏**. –¢–∞–∫–æ–π —Ñ–æ—Ä–º–∞—Ç —Ä–∞–±–æ—Ç—ã –ø–æ–º–æ–∂–µ—Ç –≤—ã–ø–æ–ª–Ω–∏—Ç—å –ø–æ–≤—Ç–æ—Ä–Ω—É—é –ø—Ä–æ–≤–µ—Ä–∫—É —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–µ–µ.
    
–ù–µ –ø–µ—Ä–µ–∂–∏–≤–∞–π, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å–¥–µ–ª–∞—Ç—å –∏–¥–µ–∞–ª—å–Ω–æ —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞. –û—Å–Ω–æ–≤–Ω–∞—è —Ü–µ–ª—å –Ω–∞—à–µ–π –∫–æ–º–∞–Ω–¥—ã - –Ω–µ —É–∫–∞–∑–∞—Ç—å –Ω–∞ –æ—à–∏–±–∫–∏, –∞ –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –æ–ø—ã—Ç–æ–º –∏ –ø–æ–º–æ—á—å —Ç–µ–±–µ –æ—Ç—Ç–æ—á–∏—Ç—å –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏–µ –Ω–∞–≤—ã–∫–∏ –∏ –Ω–∞–≤—ã–∫–∏ –≤–ª–∞–¥–µ–Ω–∏—è –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏–º–∏ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞–º–∏ üôÇ
    
–ñ–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–µ —Ä–µ–≤—å—é, —Ç—ã —É–∂–µ –ø–æ—á—Ç–∏ –Ω–∞ —Ñ–∏–Ω–∏—à–µ!

</div>

<div class="alert alert-info">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞**
    
–ü—Ä–∏–≤–µ—Ç. –ü–æ—Ç–æ—Ä–æ–ø–∏–ª—Å—è —Å –æ—Ç—Ä–ø–∞–≤–∫–æ–π, —Ö–æ—Ç–µ–ª–æ—Å—å –±—ã—Å—Ç—Ä–µ–µ –∑–∞–∫–æ–Ω—á–∏—Ç—å, –Ω–æ –≤ –∏—Ç–æ–≥–µ –≤ –æ–¥–Ω–æ–π –∑–∞–¥–∞—á–µ –Ω–µ –ø—Ä–æ–≤–µ—Ä–∏–ª —Å–µ–±—è:) –±—É–¥–µ–º –∏—Å–ø—Ä–∞–≤–ª—è—Ç—å—Å—è

<div style="border:solid green 2px; padding: 20px">
<b>–ü—Ä–∏–≤–µ—Ç –µ—â–µ —Ä–∞–∑!</b>
    
–¢—ã –æ—Ç–ª–∏—á–Ω–æ –ø–æ—Ä–∞–±–æ—Ç–∞–ª, —è –±—ã —Å–∫–∞–∑–∞–ª–∞ –Ω–∞ –≤—Å–µ 200%! –ü—Ä–æ–µ–∫—Ç –ø—Ä–∏–Ω—è—Ç, —Ç—ã –±–æ–ª—å—à–æ–π –º–æ–ª–æ–¥–µ—Ü! –ñ–µ–ª–∞—é —Ç–æ–∂–µ —Ç–µ–±–µ —É—Å–ø–µ—Ö–æ–≤ –≤–æ –≤—Å–µ—Ö –±—É–¥—É—â–∏—Ö –Ω–∞—á–∏–Ω–∞–Ω–∏—è—Ö –∏ —Ö–æ—Ä–æ—à–µ–≥–æ –Ω–∞—Å—Ç—Ä–æ–µ–Ω–∏—è!

# SQL –ü—Ä–æ–µ–∫—Ç

## –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.

–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

### –ó–∞–¥–∞–Ω–∏—è

- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

## –ó–∞–≥—Ä—É–∑–∫–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫

In [2]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
             'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
             'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

## –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

### –ö–Ω–∏–≥–∏

In [2]:
query = '''
SELECT *
FROM books
LIMIT 5
'''
pd.io.sql.read_sql(query, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

### –ê–≤—Ç–æ—Ä—ã

In [3]:
query = '''
SELECT *
FROM authors
LIMIT 5
'''
pd.io.sql.read_sql(query, con = engine)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

### –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞

In [4]:
query = '''
SELECT *
FROM publishers
LIMIT 5
'''
pd.io.sql.read_sql(query, con = engine)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

### –†–µ–π—Ç–∏–Ω–≥

In [5]:
query = '''
SELECT *
FROM ratings

'''
pd.io.sql.read_sql(query, con = engine)

      rating_id  book_id        username  rating
0             1        1      ryanfranco       4
1             2        1   grantpatricia       2
2             3        1    brandtandrea       5
3             4        2        lorichen       3
4             5        2     mariokeller       2
...         ...      ...             ...     ...
6451       6452     1000  carolrodriguez       4
6452       6453     1000         wendy18       4
6453       6454     1000      jarvispaul       5
6454       6455     1000           zross       2
6455       6456     1000         fharris       5

[6456 rows x 4 columns]

### –û–±–∑–æ—Ä—ã

In [6]:
query = '''
SELECT *
FROM reviews

'''
pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...
...,...,...,...,...
2788,2789,999,martinadam,Later hospital turn easy community. Fact same ...
2789,2790,1000,wknight,Change lose answer close pressure. Spend so now.
2790,2791,1000,carolrodriguez,Authority go who television entire hair guy po...
2791,2792,1000,wendy18,Or western offer wonder ask. More hear phone f...
2792,2793,1000,jarvispaul,Republican staff bit eat material measure plan...

In [ ]:
query = '''
SELECT *
FROM reviews, ratings

'''
pd.io.sql.read_sql(query, con = engine)

<div class="alert alert-success">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**
     
–ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –¥–∞–Ω–Ω—ã–µ –±—ã–ª–∏ –∏–∑—É—á–µ–Ω—ã –ø–µ—Ä–µ–¥ –∞–Ω–∞–ª–∏–∑–æ–º üëçüèª

## –ó–∞–¥–∞–Ω–∏—è

### –ó–∞–¥–∞–Ω–∏–µ 1.

–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [7]:
query = '''
SELECT count(book_id) AS "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞"
FROM books
Where publication_date > '2000-01-01'
'''
pd.io.sql.read_sql(query, con = engine)

   –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥
0                                    819

### –í—ã–≤–æ–¥

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥, –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ - 819

<div class="alert alert-success">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**
    
–ó–∞–ø—Ä–æ—Å –Ω–∞–ø–∏—Å–∞–Ω –≤–µ—Ä–Ω–æ üëçüèª
    
P.S. –í–æ–æ–±—â–µ –∞–≤—Ç–æ—Ä—ã –∏–º–µ–ª–∏ –≤ –≤–∏–¥—É –ø–µ—Ä–∏–æ–¥ —Å 01.01.2000 –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ, –Ω–æ —ç—Ç–æ –Ω–µ –æ—á–µ–≤–∏–¥–Ω–æ –∏–∑ —Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∫–∏ –∑–∞–¥–∞–Ω–∏—è.

### –ó–∞–¥–∞–Ω–∏–µ 2.

–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [8]:
query = '''

SELECT books.book_id AS "–ö–Ω–∏–≥–∞",
       count (review_id) AS "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤",
       AVG(rating) AS "–°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞"

FROM books
LEFT JOIN reviews ON books.book_id = reviews.book_id 
LEFT JOIN ratings ON books.book_id = ratings.book_id
GROUP BY books.book_id
ORDER BY "–ö–Ω–∏–≥–∞" ASC
LIMIT 5
'''
pd.io.sql.read_sql(query, con = engine)

   –ö–Ω–∏–≥–∞  –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤  –°—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞
0      1                   6        3.666667
1      2                   2        2.500000
2      3                   9        4.666667
3      4                   4        4.500000
4      5                  24        4.000000

<div class="alert alert-danger">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**
    
–í —Ç–∞–±–ª–∏—Ü–µ reviews —É –Ω–∞—Å –≤—Å–µ–≥–æ 2793 –æ–±–∑–æ—Ä–æ–≤, –∞ –µ—Å–ª–∏ —Å–ª–æ–∂–∏—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ–±–∑–æ—Ä–æ–≤, –ø–æ–ª—É—á–∏–º —Ü–∏—Ñ—Ä—É, –ø—Ä–µ–≤—ã—à–∞—é—â—É—é 25000. –ì–¥–µ-—Ç–æ –∑–∞–∫—Ä–∞–ª–∞—Å—å –æ—à–∏–±–∫–∞ :)

<div class="alert alert-info">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞**
    
–û—à–∏–±–∫–∞ –ø–æ–ª—É—á–∏–ª–∞—Å—å –ø–æ—Å–ª–µ –∏—Ç–æ–≥–æ–≤–æ–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –∫–Ω–∏–≥ –ø—Ä–∏ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–∏ —Ç—Ä–µ—Ö —Ç–∞–±–ª–∏—Ü –∏ –ø–æ–¥—Å—á–µ—Ç–µ. 
    
–ù–µ –ø—Ä–∏–¥—É–º–∞–ª –Ω–∏—á–µ–≥–æ –ª—É—á—à–µ, —á—Ç–æ–±—ã –ø–æ–±–æ—Ä–æ—Ç—å –æ—à–∏–±–∫—É - —ç—Ç–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–æ–¥–∑–∞–ø—Ä–æ—Å—ã, –æ–±—ä–µ–¥–∏–Ω—è—è —É–∂–µ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã. (–°—É–º–º–∞ –æ–±–∑–æ—Ä–æ–≤ —Å—Ö–æ–¥–∏—Ç—Å—è)

<div class="alert alert-success">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v2**
    
–°—É–ø–µ—Ä üëçüèª

In [13]:
query = '''

SELECT  books.book_id AS "–ö–Ω–∏–≥–∞",
        "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤",
        "–°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥"
FROM books
LEFT JOIN ( SELECT book_id,
            AVG(rating) AS "–°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥"
            FROM ratings
            GROUP BY book_id) AS SUB_4 ON books.book_id = SUB_4.book_id
LEFT JOIN ( SELECT book_id,
            COUNT(review_id) AS "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤"
            FROM reviews
            GROUP BY book_id) AS SUBQ_5  ON books.book_id = SUBQ_5.book_id 

ORDER BY "–ö–Ω–∏–≥–∞"
LIMIT 5
'''
pd.io.sql.read_sql(query, con = engine)

   –ö–Ω–∏–≥–∞  –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤  –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
0      1                   2         3.666667
1      2                   1         2.500000
2      3                   3         4.666667
3      4                   2         4.500000
4      5                   4         4.000000

### –í—ã–≤–æ–¥

–°—Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–Ω—ã–º –∑–∞–ø—Ä–æ—Å–æ–º –º—ã –ø–æ–ª—É—á–∏–ª–∏ –¥–∞—Ç–∞—Å–µ—Ç, –≥–¥–µ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–Ω–∞ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤.

### –ó–∞–¥–∞–Ω–∏–µ 3.

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

In [10]:
query = '''
SELECT COUNT (books.book_id) AS "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥",
       publisher AS –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ
FROM books
LEFT JOIN publishers ON books.publisher_id = publishers.publisher_id
WHERE books.num_pages > 50
GROUP BY publishers.publisher_id
ORDER BY "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥" DESC
LIMIT 1
'''
pd.io.sql.read_sql(query, con = engine)

   –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥   –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ
0               42  Penguin Books

### –í—ã–≤–æ–¥

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ __Penguin Books__ –≤—ã–ø—É—Å—Ç–∏–ª–æ —Å–∞–º–æ–µ –±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–∏–Ω–æ–π –±–æ–ª—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

<div class="alert alert-success">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**

–ê–±—Å–æ–ª—é—Ç–Ω–æ –≤–µ—Ä–Ω–æ üëçüèª

### –ó–∞–¥–∞–Ω–∏–µ 4.

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [11]:
query = '''
SELECT  authors.author AS "–ê–≤—Ç–æ—Ä",
        AVG("–°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥") AS "–°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥"     
FROM  authors
RIGHT JOIN (SELECT  books.author_id,
                    COUNT(rating_id) AS "–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫",
                    AVG(rating) AS "–°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥"
            FROM books
            LEFT JOIN ratings ON books.book_id = ratings.book_id 
            GROUP BY books.book_id
            HAVING COUNT(rating_id) > 50) AS SUBQ_1 ON authors.author_id = SUBQ_1.author_id
GROUP BY authors.author_id
ORDER BY "–°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥" DESC
LIMIT 1
'''
pd.io.sql.read_sql(query, con = engine)

                        –ê–≤—Ç–æ—Ä  –°—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
0  J.K. Rowling/Mary GrandPr√©         4.283844

### –í—ã–≤–æ–¥

–ü—Ä–∏ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞ –≤ –ø–æ–¥–∑–∞g—Ä–æ—Å–µ SUBQ_1 –æ—Å—Ç–∞–≤–∏–ª–∏ —Ç–æ–ª—å–∫–æ —Ç–µ –∫–Ω–∏–≥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –±—ã–ª–æ 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫. –í—Å–µ–≥–æ —Ç–∞–∫–∏—Ö –∫–Ω–∏–≥ –æ–∫–∞–∑–∞–ª–æ—Å—å 18.
–ü–æ—Å–ª–µ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è —Ç–∞–±–ª–∏—Ü –∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –¥–∞–Ω–Ω—ã—Ö –±—ã–ª –Ω–∞–π–¥–µ—Ç –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π - __J.K. Rowling/Mary GrandPr√©__

<div class="alert alert-success">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**

–î–∞, –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π ‚Äî J.K. Rowling/Mary GrandPr√© üëçüèª

### –ó–∞–¥–∞–Ω–∏–µ 5.

–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [12]:
query = '''
SELECT AVG (SUBQ_3.count) AS "C—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤"
FROM
    (SELECT  reviews.username,
            COUNT(review_id)
    FROM reviews
    INNER JOIN (SELECT  username,
                        COUNT (rating_id)
                FROM ratings
                GROUP BY username
                HAVING COUNT (rating_id) > 50) AS SUBQ_2 ON SUBQ_2.username = reviews.username
    GROUP BY reviews.username) AS SUBQ_3

'''
pd.io.sql.read_sql(query, con = engine)

   C—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤
0                   24.333333

### –í—ã–≤–æ–¥

–ü—Ä–∏ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–∏ –∑–∞–ø—Ä–æ—Å–∞ –≤ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–µ SUBQ_2 –Ω–∞—à–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫. –¢–∞–∫–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –æ–∫–∞–∑–∞–ª–æ—Å—å 6 —á–µ–ª–æ–≤–µ–∫. 
–ü–æ—Å–ª–µ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è —Ç–∞–±–ª–∏—Ü –∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –ø–æ—Å—á–∏—Ç–∞–ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤, –∫–æ—Ç–æ—Ä—ã–π —Å–¥–µ–ª–∞–ª –∫–∞–∂–¥—ã–π, –∞ –∑–∞—Ç–µ–º –Ω–∞—à–ª–∏ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ.
–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ - –±–æ–ª–µ–µ 24 –æ–±–∑–æ—Ä–æ–≤.

<div class="alert alert-success">

**–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞**

–ü–æ–ª—É—á–µ–Ω –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π –æ—Ç–≤–µ—Ç, –º–æ–ª–æ–¥–µ—Ü üëçüèª